<app-navbar></app-navbar>
<div class="content-wrapper">
  <h2 *ngIf="tareasDeUsuario.length === 0" class="text-center">NO TIENES TAREAS ASIGNADAS</h2>
  <div class="container-wrapper">

    <div class="container">

      <h2>Backlog</h2>
      <div  class="card"
            cdkDropList
            id="backlog"
            (cdkDropListDropped)="drop($event)">
            <!-- #backlogList="cdkDropList"
            [cdkDropListData]="backlog" -->
        <div class="card-body">
          <!-- Este es el card de ejemplo -->
          <div class="card m-3" *ngFor="let tarea of tareasDeUsuario" cdkDrag>
            <div class="card-header">
              {{tarea.nombreTarea}}
            </div>
            <div class="card-body">
              <p class="card-text">
                {{tarea.descripcion}}<br>
                <strong>Status: </strong> {{tarea.status.nombreStatus}}<br>
                <strong>Tipo: </strong> {{tarea.accion.nombreAccion}}<br>
                <strong>Horas Acumuladas: </strong> {{tarea.horasAcumuladas}}<br>
              </p>
              <div class="d-grid gap-2">
                <button class="btn btn-success" type="button" (click)=empezar()><i class="fas fa-clock me-2"></i>Empezar</button>
                <button class="btn btn-danger" type="button" (click)=pausar()><i class="fas fa-user-clock me-2"></i>Pausar</button>
              </div>
            </div>
          </div>
          <!-- Aqui acaba el card de ejemplo -->
        </div>
      </div>
    </div>

    <div class="container">
      <h2>To Do</h2>
      <div class="card" cdkDropList>
        <div class="card-body">

        </div>
      </div>
    </div>

    <div class="container">
      <h2>Doing</h2>
      <div class="card" cdkDropList>
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>
    </div>

    <div class="container">
      <h2>Done</h2>
      <div class="card" cdkDropList>
        <div class="card-body">
          This is some text within a card body.
        </div>
      </div>
    </div>
  </div>
</div>
