.content-wrapper{
  margin: auto;
}

.container-wrapper{
  display: flex;
  justify-content: space-around;
}

.container{
  width: 500px;
  margin: 0 25px 25px 0;
}

.card{
  border-style: solid;
  border-radius: 6px;
  border: 1px solid #000000;
}

button{
  border-radius: 6px;
  border: 2px solid #000000;
}
