.content-wrapper{
  margin: auto;
}

.container-wrapper{
  display: flex;
  justify-content: space-around;
}



.card{
  border-style: solid;
  border-radius: 6px;
  border: 1px solid #000000;
}

.m-3{
  opacity: 0.95;
}

button{
  border-radius: 6px;
  border: 2px solid #000000;
}

.container-wrapper>.container{
  width: 550px;
  margin: 0 25px 25px 0;
}

