<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><h3>KanbanBoard</h3></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
          *ngIf="isLogged"
            class="nav-link"
            routerLink="/board"
            routerLinkActive="active"
            >Board</a
          >
        </li>
        <li class="nav-item">
          <a
          *ngIf="isLogged"
            class="nav-link"
            routerLink="/usuarios"
            routerLinkActive="active"
            >Users</a
          >
        </li>
        <!-- <li class="nav-item" *ngIf="!isLogged">
          <a class="nav-link"  routerLink="/login" ><i class="fas fa-user"></i> Iniciar Sesion </a>
        </li>

        <li class="nav-item" (click)=OnLogOut() *ngIf="isLogged">
          <a class="nav-link" ><i class="fas fa-door-open"></i> Cerrar Sesion</a>
        </li> -->
      </ul>
      <form class="d-flex">
        <button  class="btn btn-outline-primary ms-3" routerLink="/proyectos" *ngIf="isLogged && isAdmin">
          <i class="fas fa-user-lock me-2"></i>Admin Panel
        </button>
        <!-- <button class="btn btn-outline-success ms-3" routerLink="/login" *ngIf="!isLogged">
          <i class="fas fa-user"></i> Iniciar Sesion
        </button> -->
        <button class="btn btn-outline-danger ms-3" (click)=OnLogOut() *ngIf="isLogged">
          <i class="fas fa-sign-out-alt me-2"></i>Cerrar Sesión
        </button>
      </form>
    </div>
  </div>
</nav>
