<app-navbar></app-navbar>
<div class="wrapper">

  <!-- <app-sidebar></app-sidebar> -->

  <div class="container mt-10">
    <h1 class="mt-10">Panel de proyectos</h1>
    <hr />
    <h3>{{titulo}}</h3>
    <!-- Formulario -->

    <form (ngSubmit)="agregarEditarProyecto()" [formGroup]="createProyecto">
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >Nombre del proyecto</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="Nombre del proyecto"
          formControlName="nombreProyecto"
          autocomplete="off"
        />
        <div id="emailHelp" class="form-text fw-bolder">
          Este campo es obligatorio
        </div>
      </div>
      <button type="submit" class="btn btn-success" [ngClass]="{ 'bg-info': isEditar === true}"><i class="fas fa-plus me-2"></i>{{titulo}}</button>
    </form>

    <!-- Tabla -->
    <br />
    <table class="table table-light" *ngIf="proyectos.length > 0">
      <thead>
        <tr>
          <th scope="col"># Proyectos</th>
          <th scope="col">Nombres</th>
          <th scope="col">Tareas</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let proyecto of proyectos; index as i">
          <th scope="row">{{ i+1 }}</th>
          <td>{{ proyecto.nombreProyecto }}</td>
          <td>{{ proyecto.tareas.length }}</td>
          <td>
            <button type="button"
                    class="btn btn-primary"
                    [routerLink]="['/edit-proyecto/', proyecto.idProyecto]">
              <i class="fas fa-edit me-2"></i>Editar
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-danger"
              (click)="borrarProyecto(proyecto)"
            >
              <i class="fas fa-trash me-2"></i>Borrar
            </button>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-warning"
              [routerLink]="['/tareas/', proyecto.idProyecto]"
            >
              <i class="fas fa-tasks me-2"></i>Ver tareas
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="alert alert-danger" role="alert" *ngIf="proyectos.length == 0">
      <h4 class="alert-heading">No hay proyectos todavia</h4>
      <p>No hay tareas en este proyecto puedes agregar un proyecto desde este panel</p>
    </div>
  </div>

</div>
