
<!-- <div class="logo">
  <a class="simple-text logo-mini">
    <div class="logo-img">
        <img src="../../../assets/angular2-logo-red.png"/>
    </div>
  </a>
  <a class="simple-text logo-normal">
      Admin Panel
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
      <li routerLinkActive="active" class="nav-item">
          <a [routerLink]="">
              <i class="now-ui-icons"></i>
              <p>titulo</p>
          </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
          <a [routerLink]="">
              <i class="now-ui-icons"></i>
              <p>titulo</p>
          </a>
      </li>
      <li routerLinkActive="active" class="nav-item">
          <a [routerLink]="">
              <i class="now-ui-icons"></i>
              <p>titulo</p>
          </a>
      </li>
  </ul>
</div> -->

<section class="app">
  <aside class="sidebar">
         <header>
          <i class="fas fa-user-lock me-2"></i> Admin Panel
      </header>
    <nav class="sidebar-nav">

      <ul>
        <li>
          <a routerLink="/usuarios" routerLinkActive="active"><span>Usuarios</span></a>
        </li>
        <li>
          <a routerLink="/proyectos"><span>Proyectos</span></a>
        </li>
        <li>
          <a routerLink="/board"> <span>Volver al Board</span></a>
        </li>
        <li>
          <a href="#"> <span>Graphicals</span></a>
        </li>
        <li>
          <a href="#"> <span>Papers</span></a>
        </li>
        <li>
          <a href="#"> <span>Cocaine</span></a>
        </li>
      </ul>
    </nav>
  </aside>
</section>
